.blog-card{
    max-width: 45em;
    padding: 1em;
}

.blog-thumbnail{
    width: 100%;
    height: auto;
    max-width: 45vw;
    min-height: 20em;
}

.title{
    margin: 1em 0em;
}


.blog-preview{
    margin-top: 0.5em;
}

span{
    color: dodgerblue;

}